<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_sub_parent_sea_export_statistical_analysis" name="Statistical Analysis"
        parent="menu_sub_parent_sea_export"
        sequence="60" />

    <menuitem id="menu_sea_export_stat_ad_hoc" name="Ad-Hoc Enquiry"
        parent="menu_sub_parent_sea_export_statistical_analysis"
        action="action_sea_hbl"
        sequence="10" />

    <menuitem id="menu_sea_export_stat_transhipment" name="Transhipment Enquiry"
        parent="menu_sub_parent_sea_export_statistical_analysis"
        action="action_sea_hbl"
        sequence="20" />

    <menuitem id="menu_sea_export_stat_verification" name="Verification"
        parent="menu_sub_parent_sea_export_statistical_analysis"
        action="action_sea_hbl"
        sequence="30" />

    <menuitem id="menu_sea_export_stat_creditor_ledger" name="Creditor Ledger"
        parent="menu_sub_parent_sea_export_statistical_analysis"
        action="action_sea_hbl"
        sequence="40" />

    <menuitem id="menu_sea_export_stat_debtor_ledger" name="Debtor Ledger"
        parent="menu_sub_parent_sea_export_statistical_analysis"
        action="action_sea_hbl"
        sequence="50" />
</odoo>
